/* FUENTES */
@font-face {
  font-family: avenir-medium;
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: avenir-black;
  src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

/* GENERALES */
html, body {
  padding: 0;
  font-family: avenir-medium;
}

h1, h2 {
  font-family: avenir-black;
}

h1 {
  font-size: 2em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* BOTONES */
.btn-custom {
  border-radius: 8px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.24);
}

.btn-custom-default {
  background: white;
  color: rgb(63, 63, 63);
}

.btn-custom-primary {
  background: linear-gradient(to right, #8526FF, #4CB0F4);
  color: white;
}

/* NAVBAR */
.navbar-custom {
  background: linear-gradient(rgba(132, 38, 255, 0.344), rgba(0,0,0,0));
  padding-top: 1em;
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-toggler {
  color: white;
}

/* HERO */
#hero {
  min-height: 650px;
  height: 100vh;
  color: white;
  background-image: url("../img/bg-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  height: 90vh;
  min-height: 90vh;
  max-width: 500px;
}

/* CLASES DE SECCIONES */
.page-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 22rem;
}

.page-section h1 {
  margin-bottom: 3rem;
  color: black;
}

.section-title {
  margin-bottom: 1rem;
  color: black;
}

.page-section h2 {
  color: #4CB0F4;
}

a.link-img:hover {
  text-decoration: none;
}

/* FORMULARIOS */
.form-custom input {
  border-radius: 4rem;
  border-color: #4CB0F4;
  text-align: center;
}

.form-custom textarea {
  border-radius: 1rem;
  border-color: #4CB0F4;
  padding-left: 3rem;
  padding-top: 2rem;
}

/* FOOTER */
#footer {
  padding-top: 3rem;
  background: #2C2C2C;
}

#footer ul {
  padding-top: 1rem
}

#footer li {
  margin-bottom: 1rem
}

#footer a {
  color: white
}

.footer-logo {
  width: 96px;
  height: auto;
}